.logout-container{
    height: 300px;
    width:600px;
    position: relative;
    background-color: white;
    
}
.logout{
    font-family: courgette;
    font-size: 50px;
}


button {
    margin: 0 auto;
    display: block;
}