.confirmation-container{
    height:200px;
    width:600px;
    position: relative;
    background-color: white;
    
}
.confirmation{
    font-family: courgette;
    font-size: 25px;
}
p {
    text-align:right; 
    vertical-align: middle;
    display: table-cell;  
   
   
  }
