<div class="centered-content">
    <div class="white-box">
       <h1 class="title has-text-Courgette">
           create Task
       </h1> 
       <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">New Task </label>
            </div>
           <div class="field-body">
              <div class="field">
                   <p class="control">
                      <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter task name..">
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label " > Enter Due date for task</label>
            </div>
            <ejs-datetimepicker  id='datetimepicker' placeholder='Select a date'[(ngModel)]="selectedDate"   [value]='dateValue' [min]='minDate' [max]='maxDate'></ejs-datetimepicker>
        </div>

       <div class="buttons is-right">
           <button class="button has-background-light is-medium" (click)=createTask(taskTitleInput.value,getDate(selectedDate))>create</button>
           <button class="button has-background-light is-medium" routerLink="/">cancel</button>
       </div>
    </div>
</div>
